/FallingStar/Library
/FallingStar/.vs
/FallingStar/Logs
/FallingStar/obj
/FallingStar/Packages
/FallingStar/ProjectSettings
/FallingStar/Temp
/FallingStar/Assembly-CSharp.csproj
/FallingStar/Assembly-CSharp-Editor.csproj
/FallingStar/FallingStar.sln
/FallingStar/Unity.ML-Agents.Extensions.csproj
/FallingStar/Unity.ML-Agents.Extensions.Editor.csproj
/FallingStar/Assets/ML-Agents
/FallingStar/Assets/Scenes
/FallingStar/Assets/csc.rsp
/FallingStar/Assets/csc.rsp.meta
/FallingStar/Assets/csc.rsp
/FallingStar/Assets/ML-Agents.meta
/FallingStar/Assets/Scenes.meta
